@font-face {
    font-family: sahel;
    src: url("fonts/Sahel.eot") format("eot"),
      url("fonts/Sahel.woff") format("woff"),
      url("fonts/Sahel.woff2") format("woff2");
    font-weight: bolder;
  }
*,body{
    font-family:sans-serif;
    margin: 0;
    padding: 0;
}
body,html{
    width: 100%;
    height: 100%;
}
body{
    background-color: rgb(224, 224, 224);
}
ul,li,ol{
    text-decoration: none;
    list-style: none;
}
a{
    text-decoration:none;
    color: black;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.par{
    font-size: 58px;
    margin: 10px;
    color: aliceblue;
}